@import './variables';

// Makes target full height and width of parent - use for 'section' components
@mixin full-hw {
  height: 100%;
  width: 100%;
}

@mixin horizontal-center {
  margin: 0 auto;
}

@mixin all-center-with-column {
  text-align: center;
  display: flex;
  flex-direction: column;
}
