// Colors
$mainColor: rgb(172, 143, 189);
// $mainColor: rgba(189, 165, 232, 0.91);
$secondaryColor: rgba(189, 165, 232, 0.91);
$textColor: rgb(59, 59, 59);

// Fonts
$titleFont: "M PLUS Rounded 1c", sans-serif;
$mainFont: "Poppins", sans-serif;
