@import '../../../utilities/mixins';

.mainMenu {
  @include full-hw;
  // @include horizontal-center;
  text-align: center;
}

.mainMenu__userName {

}

.mainMenu_buttonContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  @include horizontal-center;
}