@import '../../../utilities/mixins';
@import '../../../utilities/variables';

.mainMenu {
  @include full-hw;
  // @include horizontal-center;
  text-align: center;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: $mainFont;
  }
}

.mainMenu__userName {
  color: $secondaryColor;
}

.mainMenu__button {
  @include margin-under-bc-item;
}