// Div -> .form__group
// Input -> .form__textInput
// Label -> .form__label

@import '../../../utilities/variables';

.form__group {
  position: relative;
  margin-bottom: 2rem;
  padding: 15px 0 0;
  margin-top: 10px;
  font-family: $mainFont;
}

.form__textInput {
  color: $textColor;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 3px solid $mainColor;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  &:focus {
    ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $mainColor;
    font-weight: bold;    
    }
    padding-bottom: 6px;  
  // font-weight: bold;
  border-width: 3px;
  }
  &:required,&:invalid { 
    box-shadow:none; 
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: bold;
  color: $textColor;
}