@import "../../../utilities/mixins";
@import "../../../utilities/variables";

.sectionNavigator {
  @include full-hw;
  // @include horizontal-center;
  @include all-center-with-column;
  h2 {
    font-family: $mainFont;
  }
}

.sectionNavigator__buttonContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  @include horizontal-center;
  button {
    margin-bottom: 2rem;
    min-width: 75%;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
  }
}