@import '../../../utilities/variables';

.usStates {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  img {
    width: 100%;
    margin-bottom: 0.33rem;
  }
}

.states__question__num {
  margin: 0.1rem auto;
  padding: 0.16rem 1rem;
  border: 3px solid $mainColor;
  border-radius: 20px;
}

.states__answer__button {
  margin-bottom: 2vh;
  p {
    padding: 0.33rem 3rem;
    font-size: 1.25rem;
  }
}
