@import "../../../utilities/mixins";
@import '../../../utilities/variables';

.addition {
  display: flex;
  flex-direction: column;
  // @include horizontal-center;
  flex: 1 1 auto;
}

.question__num {
  margin: 1rem auto;
  padding: 0.33rem 2rem;
  border: 3px solid $mainColor;
  border-radius: 20px;
}

.answer__button {
  margin-bottom: 1rem;
  min-width: 50vw;
}
