@import "../../../utilities/variables";

.buttonProp {
  background-color: white;
  border: 2px solid $mainColor;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 0;
  a,
  p {
    text-align: center;
    text-decoration: none;
    color: $mainColor;
    font-weight: bold;
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    font-family: $mainFont;
  }
  &:hover {
    background-color: $mainColor;
    cursor: pointer;
    a,
    p {
      color: white;
    }
  }
}
